<!DOCTYPE html>

<html>
	<head>
		<link href="../stylesheets/main.css" rel="stylesheet" type="text/css">
		<title>BSA 140 Xenia</title>
	</head>
	
	<body>
		<h1 class="header">
			BSA 140 Xenia File Share
			<div id="welcome">
				Welcome, {{ user }}!
			</div>
		</h1>
		
		{{ topbar | safe }}
		
		<div class="container">
			{{ sidebar | safe }}
			
			<!-- Header Content -->
			<div id="header">
				You may download existing files or upload new files below.
			</div>
			
			{{ files | safe }}
					
			<!-- Add / Edit Link -->
			{% if adminStatus <= 2 %} <!-- owner, admin, or poster -->
				
				<div class="content">
					<form action="{{ uploadUrl }}" method="post" enctype="multipart/form-data">
						<div class="content-header">Add	File</div>
					
						<!-- File Selector -->
						<label>
							<span class="login">File:</span>
							<input class="textbox" type="file" name="file">
						</label>
						<br>					
						
						<!-- Error -->
						{% if error != '' %}
							<div class="error">{{ error }}</div>
						{% endif %}

						<!-- Submit Button -->
						<div style="text-align: center">
							<input class="button-link" type="submit" name="addFile" value="Add">
						</div>
				
					</form>
				</div>
			{% endif %}
		</div>
	</body>
</html>