<div id="sidebar">
	<!-- Sidebar Buttons -->
	<form action="/">
		<input class="button-link" type="submit" value="Home">
	</form>
	<form action="/events">
		<input class="button-link" type="submit" value="Events">
	</form>
	<form action="/photos">
		<input class="button-link" type="submit" value="Photos">
	</form>
	<form action="/links">
		<input class="button-link" type="submit" value="Links">
	</form>
	<form action="/contact">
		<input class="button-link" type="submit" value="Contact">
	</form>
</div>